In [142]:
import os
import pandas as pd

In [143]:
path = '../data'
files = [file for file in os.listdir(path) if not file.startswith('.')] #ignore hidden files

all_months_data = pd.DataFrame()

for file in files:
    current_data = pd.read_csv(path + '/' + file)
    all_months_data = pd.concat([all_months_data, current_data])

all_months_data.to_csv(path + '/' + 'all_data_copy.csv', index=False)

In [144]:
all_data = pd.read_csv('../data/all_data_copy.csv')
display(all_data.head())
print(all_data.shape)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001"
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001"
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001"
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001"

(934250, 6)

Data Cleaning

In [145]:
nan_df = all_data[all_data.isna().any(axis=1)]
display(nan_df.head())
print(nan_df.shape)

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
282       NaN     NaN              NaN        NaN        NaN              NaN
509       NaN     NaN              NaN        NaN        NaN              NaN
838       NaN     NaN              NaN        NaN        NaN              NaN
888       NaN     NaN              NaN        NaN        NaN              NaN
1169      NaN     NaN              NaN        NaN        NaN              NaN

(2725, 6)

In [146]:
all_data = all_data.dropna(how='all')
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001"
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001"
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001"
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
934245,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
934246,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
934247,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
934248,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
934249,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [147]:
all_data['Order ID'] = all_data['Order ID'].str.strip() 
filtered_order_id = all_data[all_data['Order ID'].str.contains(r'[^0-9]', na=False)]

In [148]:
filtered_order_id

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
521,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
833,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2180,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2388,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4248,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
932564,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
932951,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
933963,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
934032,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
934138,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [149]:
all_data = all_data[~all_data['Order ID'].str.contains(r'[^0-9]', na=False)]
all_data['Order ID'] = all_data['Order ID'].astype(int)
all_data

C:\Users\junai\AppData\Local\Temp\ipykernel_25336\2221004905.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order ID'] = all_data['Order ID'].astype(int)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001"
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001"
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001"
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
934245,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
934246,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
934247,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
934248,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
934249,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [150]:
all_data['Product'] = all_data['Product'].astype(str)
all_data['Product'] = all_data['Product'].str.strip()
unique_product = all_data['Product'].unique()
unique_product

C:\Users\junai\AppData\Local\Temp\ipykernel_25336\3367170600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Product'] = all_data['Product'].astype(str)
C:\Users\junai\AppData\Local\Temp\ipykernel_25336\3367170600.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Product'] = all_data['Product'].str.strip()

array(['34in Ultrawide Monitor', '27in 4K Gaming Monitor',
       'AAA Batteries (4-pack)', '27in FHD Monitor', 'Wired Headphones',
       'Lightning Charging Cable', 'Apple Airpods Headphones',
       'USB-C Charging Cable', '20in Monitor', 'iPhone',
       'Bose SoundSport Headphones', 'ThinkPad Laptop',
       'AA Batteries (4-pack)', 'Google Phone', 'Vareebadd Phone',
       'Flatscreen TV', 'Macbook Pro Laptop', 'LG Dryer',
       'LG Washing Machine'], dtype=object)

In [151]:
all_data['Quantity Ordered'] = all_data['Quantity Ordered'].str.strip() 
filtered_order_quantity = all_data[all_data['Quantity Ordered'].str.contains(r'[^0-9]', na=False)]
filtered_order_quantity.shape

C:\Users\junai\AppData\Local\Temp\ipykernel_25336\758333084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Quantity Ordered'] = all_data['Quantity Ordered'].str.strip()

(0, 6)

In [152]:
all_data['Quantity Ordered'] = all_data['Quantity Ordered'].astype(str)
unique_order_quantity = all_data['Quantity Ordered'].unique()
unique_order_quantity

C:\Users\junai\AppData\Local\Temp\ipykernel_25336\2730500820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Quantity Ordered'] = all_data['Quantity Ordered'].astype(str)

array(['1', '2', '3', '4', '5', '8', '6', '7', '9'], dtype=object)

In [153]:
all_data['Price Each'] = all_data['Price Each'].str.strip()
filtered_price_each = all_data[all_data['Price Each'].str.contains(r'[^0-9\.]', na=False)]

C:\Users\junai\AppData\Local\Temp\ipykernel_25336\160815984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Price Each'] = all_data['Price Each'].str.strip()

In [154]:
filtered_price_each.shape

(0, 6)

In [155]:
all_data['Price Each'] = all_data['Price Each'].astype(float)
unique_price_each = all_data['Price Each'].unique()
unique_price_each

C:\Users\junai\AppData\Local\Temp\ipykernel_25336\2458746694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Price Each'] = all_data['Price Each'].astype(float)

array([ 379.99,  389.99,    2.99,  149.99,   11.99,   14.95,  150.  ,
         11.95,  109.99,  700.  ,   99.99,  999.99,    3.84,  600.  ,
        400.  ,  300.  , 1700.  ])

In [156]:
all_data['Order_Date_Month'] = all_data['Order Date'].str[0:2]
all_data['Order_Date_Day'] = all_data['Order Date'].str[3:5]
all_data['Order_Date_Year'] = all_data['Order Date'].str[6:8]
all_data

C:\Users\junai\AppData\Local\Temp\ipykernel_25336\4145318722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order_Date_Month'] = all_data['Order Date'].str[0:2]
C:\Users\junai\AppData\Local\Temp\ipykernel_25336\4145318722.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order_Date_Day'] = all_data['Order Date'].str[3:5]
C:\Users\junai\AppData\Local\Temp\ipykernel_25336\4145318722.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order_Date_Year'] = all_data['Order Date'].str[6:8]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order_Date_Month,Order_Date_Day,Order_Date_Year
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001",10,28,19
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001",10,28,19
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001",10,24,19
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001",10,14,19
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001",10,07,19
...,...,...,...,...,...,...,...,...,...
934245,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",09,17,19
934246,259354,iPhone,1,700.00,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",09,01,19
934247,259355,iPhone,1,700.00,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",09,23,19
934248,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",09,19,19
934249,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",09,30,19

In [157]:
unique_order_date_month = all_data['Order_Date_Month'].unique()
unique_order_date_month

array(['10', '11', '12', '01', '02', '03', '04', '05', '06', '07', '08',
       '09'], dtype=object)

In [158]:
unique_order_date_day = all_data['Order_Date_Day'].unique()
unique_order_date_day

array(['28', '24', '14', '07', '01', '29', '20', '16', '13', '26', '17',
       '31', '10', '12', '23', '18', '09', '19', '25', '08', '22', '15',
       '30', '21', '03', '05', '06', '02', '11', '04', '27'], dtype=object)

In [159]:
unique_order_date_year = all_data['Order_Date_Year'].unique()
unique_order_date_year

array(['19', '20'], dtype=object)

In [160]:
all_data['Order_Date_Month'] = all_data['Order_Date_Month'].astype(int)
all_data['Order_Date_Day'] = all_data['Order_Date_Day'].astype(int)
all_data['Order_Date_Year'] = all_data['Order_Date_Year'].astype(int)
all_data['Order_Date_Year'] = all_data['Order_Date_Year'] + 2000
all_data

C:\Users\junai\AppData\Local\Temp\ipykernel_25336\366250572.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order_Date_Month'] = all_data['Order_Date_Month'].astype(int)
C:\Users\junai\AppData\Local\Temp\ipykernel_25336\366250572.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order_Date_Day'] = all_data['Order_Date_Day'].astype(int)
C:\Users\junai\AppData\Local\Temp\ipykernel_25336\366250572.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order_Date_Year'] = all_data['Order_Date_Year'].astype(int)
C:\Users\junai\AppData\Local\Temp\ipykernel_25336\366250572.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order_Date_Year'] = all_data['Order_Date_Year'] + 2000

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order_Date_Month,Order_Date_Day,Order_Date_Year
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001",10,28,2019
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001",10,28,2019
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001",10,24,2019
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001",10,14,2019
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001",10,7,2019
...,...,...,...,...,...,...,...,...,...
934245,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",9,17,2019
934246,259354,iPhone,1,700.00,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",9,1,2019
934247,259355,iPhone,1,700.00,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",9,23,2019
934248,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",9,19,2019
934249,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",9,30,2019

In [161]:
all_data['Order_Date_Only'] = pd.to_datetime(
    dict(
        year=all_data['Order_Date_Year'],
        month=all_data['Order_Date_Month'],
        day=all_data['Order_Date_Day']
        
    ),
    errors='coerce'
)
all_data

C:\Users\junai\AppData\Local\Temp\ipykernel_25336\3814100571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order_Date_Only'] = pd.to_datetime(

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order_Date_Month,Order_Date_Day,Order_Date_Year,Order_Date_Only
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001",10,28,2019,2019-10-28
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001",10,28,2019,2019-10-28
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001",10,24,2019,2019-10-24
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001",10,14,2019,2019-10-14
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001",10,7,2019,2019-10-07
...,...,...,...,...,...,...,...,...,...,...
934245,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",9,17,2019,2019-09-17
934246,259354,iPhone,1,700.00,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",9,1,2019,2019-09-01
934247,259355,iPhone,1,700.00,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",9,23,2019,2019-09-23
934248,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",9,19,2019,2019-09-19
934249,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",9,30,2019,2019-09-30

In [ ]:
all_data_df = all_data.drop(['Order_Date_Year', 'Order_Date_Month', 'Order_Date_Day', 'Order Date'], axis=1)
all_data_df

In [162]:
print(all_data.dtypes)

Order ID                     int64
Product                     object
Quantity Ordered            object
Price Each                 float64
Order Date                  object
Purchase Address            object
Order_Date_Month             int64
Order_Date_Day               int64
Order_Date_Year              int64
Order_Date_Only     datetime64[ns]
dtype: object